body {
  background-image: url('./assests/app-bg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

.form-container {
  width: 60%;
  margin: 0 auto;
}

.city-form {
  width: 100%;
  justify-content: center;
  position: relative;
  left: 20%;
}

input {
  width: 50%;
  padding: 8px;
  margin: 0 auto;
}

.btn {
  width: 20%;
  padding: 8px;
  font-weight: bold;
  margin: 0 auto;
}